body{
    text-align: center;
}

img{
    
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo{
    font-weight: 700;
    font-size: larger;
}

.links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: gray;
}

/*First*/

.sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.first{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

/*Second*/

.second{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.totimg{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info{
    max-width: 200px;
}

/*Third*/

.third{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.quote{
    font-size: 20px;
    margin-left: 300px;
}

/*Fourth*/

.fourth{
    display: flex;
    justify-content: space-between;
    align-items: initial;
    margin-bottom: 32px;
}
